* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url(/Backgrounds/Background\ 2.png);
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #333;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.nav-left a,
.nav-right a {
    text-decoration: none;
    margin: 0 10px;
}

.nav-right a img,
.nav-left a img {
    width: 30px;
    height: 30px;
    border-radius: 0%;
    transition: transform 0.2s ease;
}

.nav-right a img:hover,
.nav-left a img:hover {
    transform: scale(1.1);
}

/* Hero Section */
.hero {
    background: url('https://source.unsplash.com/1600x900/?library,books') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.hero a {
    background-color: #0000FF;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.hero a:hover {
    background-color: #0000CD;
}
